body {
  background-color: #F9DFDC;
  margin: 0px;
  text-align: center;
  text-align:
}

h1{
  font-family: 'Rampart One', cursive;
  font-size: 4em;
}

h2{
  font-family: 'Urbanist', sans-serif;
}

h3{
  font-family: 'Urbanist', sans-serif;
}

form {
  text-align: left;
  padding-left: 20px;
}

.Bienvenida {
  background-color: #FFD8CC;
  width: 100%;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Producto {

}

.Informacion {
  background-color: #
}

.Pas {
  display: inline-block;
}

.Pasteles{
  height: 200px;
  width: 200px;
}

#Marca {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#Logo {
  height: 200px;
  width: 200px;
}
